@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.belleza {
    font-family: 'Belleza', sans-serif;
}

.text-colour1 {
    color: #f5a415;
}

.text-colour2 {
    color: #8a4e1d;
}

.text-colour3 {
    color: #49484c;
}

.bg-colour1 {
    background-color: #f5a415;
}

.bg-colour2 {
    background-color: #8a4e1d;
}

.bg-colour3 {
    background-color: #49484c;
}

.tac {
    text-align: center;
}

.news-flash {
    font-size: 26px;
    padding-inline: 15%;
}

.logo-div {
    width: 30%;
    display: inline;
}

.links {
    width: 70%;
    display: inline-block;
    margin: auto;
}

.nav-link-style {
    display: inline-block;
    width: 15%;
    height: 100%;
    color: #49484c;
    font-size: 12px;
}

.nav-link-style-active {
    display: inline-block;
    width: 15%;
    height: 100%;
    color: black;
    font-size: 16px;
}