@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.belleza {
    font-family: 'Belleza', sans-serif;
}

.tac {
    text-align: center;
}

.news-flash {
    font-size: 14px;
}